#wrap{
    width: 800px;
    border: 5px solid black;
    margin: auto;
}
header{
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 2fr 4fr 2fr;
}
header >div:nth-child(4){
    grid-column: span 3;
}
header > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-area{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
input[name=memberId], input[name=memberPwd]{
    grid-column: span 2;
}
header > div:nth-child(3) > form{
    width: 100%;
    height: 100%;
}
nav{
    width:100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}
nav a{
    color: white;
    text-decoration: none;
}

/* 메인 */
main{
    width:100%;
}