/* 기본 CSS 제거  */
body{
    margin: 0px;
    /* padding: 0px;
    list-style-type: none;
    font-family: Noto Sans KR; */
}
/* 화면 전체 */
.wrap{
    border: 10px solid black;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box; /*테두리까지 포함*/
    display: flex;
    /* align-items: stretch;  */ /*기본값임*/
}
.sidebar{
    width: 150px;
    border: 1px solid black;
    
}
.main{
    width: calc(100vw - 150px);
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 3fr 6fr;
    grid-template-columns: 1fr;
}
.header{
    display: grid;
    grid-template-columns: 6fr 8fr 1fr 1fr 6fr 3fr;
    grid-template-rows: 60px;
}
.login-btn-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-btn{
    width: 80%;
    height: 60%;
    
    border-radius: 30px;
    border: 1px solid lightgray;
    color:blue;
    background-color: #fff;
}
.mike-btn-area{
    display: flex;
    justify-content: center;
    align-items: center;

}
.mike-btn{
    width: 70%;
    height: 60%;
    border-radius: 50px;
    background-color: lightgray;
    border:none;
}
.search-input-area{
    display: flex;
    justify-content: right;
    align-items: center;
}
.search-input-area > input[type="text"]{
    width: 90%;
    height: 40px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    /* box-sizing: border-box; */
    
}
.search-btn-area{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.search-btn-area > button {
    width: 90%;
    height: 40px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.ad{
    display: grid;
    grid-template-columns: 424px 750px;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}
.ad>div:first-child{
    grid-row: 1/3;
}
/* .ad>div{
    border-radius: 20px;
    gap: 10px
} */
.card-area{
    width: 400px;
    height: 300px;
    display: grid;
    grid-template-rows: 200px 80px;
    grid-template-columns: 1fr;
    row-gap: 20px;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 20px; */
}
.card-img-area{
    overflow: hidden;
}
.card-area img{
    width: 100%;
}