<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

  <settings>
  	<setting name="mapUnderscoreToCamelCase" value="true"/>
  	<setting name="jdbcTypeForNull" value="NULL"/>
  </settings>
  
</configuration>

<!-- root-context.xml 파일에 DB 관련 정보가 저장되어 있음 -->